<h2>会員情報</h2>
<table border="1">
<tr>
  <th>ID</th><td><%= @userinfo['id'] %></td>
</tr>
<tr>
  <th>Email</th><td><%= @userinfo['email'] %></td>
</tr>
<tr>
  <th>ユーザー名</th><td><%= @userinfo['username'] %></td>
</tr>
<tr>
  <th>created_at</th><td><%= @userinfo['created_at'] %></td>
</tr>
<tr>
  <th>updated_at</th><td><%= @userinfo['updated_at'] %></td>
</tr>
<tr>
  <th>provider</th><td><%= @userinfo['provider'] %></td>
</tr>
<tr>
  <th>uid</th><td><%= @userinfo['uid'] %></td>
</tr>
</table>
